* {
  font-family: 'Cereal', Helvetica, Arial, sans-serif;
}
.container-padding{
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.custom-button{
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  appearance: none !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: none !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(34, 34, 34) !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  position: relative !important;
  background: transparent !important;
  transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
  align-items: center !important;
  justify-content: center !important;
  width: 32px !important;
  height: 32px !important;

}

.custom-grid{
  
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 2rem;
    column-gap: 5px;
    margin-bottom: 2rem;
}


.custom-badge{
  cursor: pointer !important;
    text-align: center !important;
    border: 1px solid black !important;
    background-color: #FFFFFF !important;
    outline: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-color: #DDDDDD !important;
    color: #222222 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    position: relative !important;
    -webkit-transition-property: -webkit-transform,transform, background-color, border-color !important;
    -moz-transition-property: transform, background-color, border-color !important;
    transition-property: -ms-transform,-webkit-transform,transform, background-color, border-color !important;
    -webkit-transition-duration: 0.15s !important;
    transition-duration: 0.15s !important;
    -webkit-transition-timing-function: ease-in-out !important;
    transition-timing-function: ease-in-out !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    min-height: 32px !important;
    border-radius: 16px !important;
    font-size: 14px !important;
    line-height: 18px !important;
}